@model IEnumerable<MiniOglasi.Models.ApplicationUser>

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Regulisi korisnike";
    string trenutniAdminId = User.Identity.GetUserId();
}

<h2>
    @ViewBag.Title <i class="fas fa-users-cog"></i>
</h2>

<div class="lista-korisnika-pretraga">
    <form action="/Korisnik/RegulisiKorisnike" method="get">
        <input type="text" name="username" placeholder="Username" value="" />
        <input type="text" name="telefon" placeholder="Telefon" value="" />
        <input type="text" name="grad" placeholder="Grad" value="" />
        <input type="submit" value="Trazi" />
    </form>
</div>

<table id="tabela-korisnici">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
                <i class="far fa-envelope"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KontaktTelefon)
                <i class="fas fa-mobile-alt"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
                <i class="fas fa-city"></i>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.Id != trenutniAdminId)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KontaktTelefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grad.ImeGrada)
                    </td>
                    <td>
                        <a href="@Url.Action("OglasiPoKorisniku", "Korisnik", new { korisnikID = item.Id })" class="dugme dugme-plavo" data-user-id="@item.Id">
                            Oglasi
                        </a>
                    </td>
                    <td>
                        <button class="js-delete-user dugme dugme-crveno" data-user-id="@item.Id">
                            Izbrisi
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var mozeDaKlikneDugme = true;

            $("table").on("click", function (e) {
                if (e.target.classList.contains("js-delete-user") && mozeDaKlikneDugme) {

                    mozeDaKlikneDugme = false;
                    var korisnikId = e.target.dataset.userId;

                    bootbox.confirm({
                        message: "Izbrisi korisnika i njegove oglase?",
                        buttons: {
                            cancel: {
                                label: 'Ne',
                            },
                            confirm: {
                                label: 'Da',
                                className: 'btn-danger'
                            }
                        },
                        className: "heartBeat animated",
                        size: "small",

                        callback: function (result) {
                            mozeDaKlikneDugme = true;
                            if (result) {

                                $.ajax({
                                    url: `/api/delete-user/${korisnikId}`,
                                    method: "DELETE",
                                    success: function (data) {
                                        e.target.parentElement.parentElement.remove();
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                })
                            }
                        }
                    });

                }
            })
        })
    </script>
}