@model MiniOglasi.Models.RacunarOglasModels.RacunarOglas

<tr>
    <td><strong>Marka Racunara: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.MarkaRacunara.Marka)</td>
</tr>
<tr>
    <td><strong>Tip Racunara: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.TipRacunara.Tip)</td>
</tr>
<tr>
    <td><strong>Marka graficke karte: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.MarkaGrafickeKarte.MarkaGraficke)</td>
</tr>
<tr>
    <td><strong>HDD memorija: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.HddMemorija)</td>
</tr>
<tr>
    <td><strong>RAM memorija: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.RamMemorija)</td>
</tr>
<tr>
    <td><strong>Graficka memorija: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.GrafickaMemorija)</td>
</tr>
<tr>
    <td><strong>Brzina CPU: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.ProcesorBrzina)</td>
</tr>
<tr>
    <td><strong>Broj jezgara CPU: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.ProcesorJezgara)</td>
</tr>
<tr>
    <td><strong>Monitor: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Monitor)</td>
</tr>
<tr>
    <td><strong>Tastatura: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Tastatura)</td>
</tr>
<tr>
    <td><strong>Mis: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Mis)</td>
</tr>