@model MiniOglasi.Models.Oglas

@using Microsoft.AspNet.Identity

@using MiniOglasi.Models
@using MiniOglasi.Models.RacunarOglasModels
@using MiniOglasi.Models.NekretninaOglasModels

@{
    ViewBag.Title = "Detalji";
    int oglasId = Model.Id;
    bool daLiJeUserAdmin = User.IsInRole("admin");
    string currentUserId = User.Identity.GetUserId();
    string autorOglasaId = Model.UserAutorOglasaId;
    string imeKontrolera = ViewContext.RouteData.Values["controller"].ToString();
    string urlZaEdit = Url.Action("Edit", imeKontrolera, new { id = oglasId });
    bool requestAuthenticated = Request.IsAuthenticated;
    bool jeLiOmiljenOglas = Html.Action("DaLiJeOmiljeniOglas", "Korisnik", new { idOglasa = oglasId }).ToString() == "True";
}

<h2>@Model.NaslovOglasa</h2>

<p>
    <h4>Oglas postavljen: @Model.DatumPostavljanja.ToShortDateString()</h4>
</p>

<div class="detalji-oglasa">
    <div class="red-prvi">
        @* DETALJI INFO ======================================================================= *@
        <div class="detalji-oglasa-info">
            @* DUGMAD SRCAD ======================================================================= *@
            @if (requestAuthenticated)
            {
                if (daLiJeUserAdmin && currentUserId != autorOglasaId)
                {
                    <p class="detalji-oglasa-dugmad-red">
                        @if (jeLiOmiljenOglas)
                        {
                            <span id="srce-dugme" class="glyphicon glyphicon-heart"></span>
                        }
                        else
                        {
                            <span id="srce-dugme" class="glyphicon glyphicon-heart-empty"></span>
                        }
                        @*<button class="dugme dugme-plavo dugme-edit">Edit <i class="fas fa-edit"></i></button>*@
                        <button class="dugme dugme-crveno dugme-delete">Delete <i class="fas fa-times"></i></button>
                    </p>
                }
                else if (currentUserId == autorOglasaId)
                {
                    <p class="detalji-oglasa-dugmad-red">
                        <button class="dugme dugme-plavo dugme-edit">Edit <i class="fas fa-edit"></i></button>
                        <button class="dugme dugme-crveno dugme-delete">Delete <i class="fas fa-times"></i></button>
                    </p>
                }
                else
                {
                    <p class="detalji-oglasa-dugmad-red">
                        @if (jeLiOmiljenOglas)
                        {
                            <span id="srce-dugme" class="glyphicon glyphicon-heart"></span>
                        }
                        else
                        {
                            <span id="srce-dugme" class="glyphicon glyphicon-heart-empty"></span>
                        }
                    </p>
                }
            }

            @* GLAVNI INFO ======================================================================= *@
            <div>
                <p class="detalji-oglasa-cena">
                    <span>@Html.DisplayFor(oglas => oglas.Cena) @Model.Valuta.ImeValute</span>
                </p>
                <p>
                    <span>
                        <strong>Opis: </strong>
                        <br />
                        @Html.Raw(Html.Encode(Model.OpisOglasa).Replace("\n", "<br />"))
                    </span>
                </p>
            </div>
        </div>
        @* SLIKE ======================================================================= *@
        <div class="slike fotorama"
             data-loop="true"
             data-autoplay="true"
             data-transition="dissolve"
             data-allowfullscreen="true"
             data-shuffle="true"
             data-width="100%"
             data-ratio="800/600">

            @if (Model.Slike.Any(x => x != null))
            {
                foreach (var slika in Model.Slike)
                {
                    <img src="@Url.Content(slika.PathDoSlike)" alt="" />
                }
            }
            else
            {
                <img src="@Url.Content(PomocnaKlasa.PlaceholderSlika)" />
            }
        </div>
    </div>
    <div class="ostali-info">
        @*OSTALE INFO -------------------------------------------------------------*@
        <table class="detalji-oglasa-tabela">
            @if (Model is AutoOglas)
            {
                { Html.RenderPartial("_DetaljiAuto", Model); }
            }
            else if (Model is RacunarOglas)
            {
                { Html.RenderPartial("_DetaljiRacunar", Model); }
            }
            else if (Model is NekretninaOglas)
            {
                { Html.RenderPartial("_DetaljiNekretnine", Model); }
            }
            <tr>
                <td><strong>Stanje: </strong></td>
                <td>@Html.DisplayFor(oglas => oglas.Stanje.StanjePredmetaOglasa)</td>
            </tr>
            <tr>
                <td><strong>Postavio: </strong></td>
                <td>
                    @Html.ActionLink(Model.UserAutorOglasa.UserName, "OglasiPoKorisniku", "Korisnik", new { korisnikID = Model.UserAutorOglasaId }, new { style = "color:blue" })
                </td>
            </tr>
            <tr>
                <td><strong>Kontakt: </strong></td>
                <td>@Html.DisplayFor(oglas => oglas.UserAutorOglasa.KontaktTelefon)</td>
            </tr>
            <tr>
                <td><strong>Grad: </strong></td>
                <td>@Html.DisplayFor(oglas => oglas.UserAutorOglasa.Grad.ImeGrada)</td>
            </tr>
        </table>
    </div>
</div>

<p>
    <a href="@Url.Action("Index")" class="dugme dugme-crveno" style="color:white"><i class="fas fa-arrow-left"></i> Nazad</a>
</p>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")

    <script id="detaljiSkripta"
            src="@Url.Content("~/Scripts/moje/ZaDetaljeOglasaView.js")"
            data-oglas-id="@oglasId"
            data-user-id="@currentUserId"
            data-autor-oglasa-id="@autorOglasaId"
            data-url-edit="@urlZaEdit"
            data-request-authenticated="@requestAuthenticated"
            data-kategorija-oglasa="@imeKontrolera"
            data-admin-gleda="@daLiJeUserAdmin">
    </script>
}