@model MiniOglasi.Models.AutoOglas

<table>
    <tr>
        <td><strong>Godiste: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.Godiste)</td>
    </tr>
    <tr>
        <td><strong>Kilometraza: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.Kilometraza)</td>
    </tr>
    <tr>
        <td><strong>Konjskih snaga: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.KonjskeSnage)</td>
    </tr>
    <tr>
        <td><strong>Proizvodjac: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.MarkaAuta.Marka)</td>
    </tr>
    <tr>
        <td><strong>Proizvodjac: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.ModelAuta.AutoModel)</td>
    </tr>
</table>