@model MiniOglasi.Models.AutoOglas
@using Microsoft.AspNet.Identity

@using MiniOglasi.Models

@{
    ViewBag.Title = "Details";

}

<h2>@Model.NaslovOglasa</h2>

<p>
    <h4>Oglas postavljen: @Model.DatumPostavljanja.ToShortDateString()</h4>
</p>

<div class="detalji-oglasa">
    <div class="slike fotorama"
         data-loop="true"
         data-autoplay="true"
         data-transition="dissolve"
         data-allowfullscreen="true">

        @if (Model.Slike.Any(x => x != null))
        {
            foreach (var slika in Model.Slike)
            {
                <img src="@Url.Content(slika.PathDoSlike)" alt="" />
            }
        }
        else
        {
            <img src="@Url.Content(PomocnaKlasa.PlaceholderSlika)" />
        }
    </div>
    <div class="detalji-oglasa-info">
        <p>
            <span>Proizvodjac: @Html.DisplayFor(oglas => oglas.MarkaAuta.Marka)</span>
        </p>
        <p>
            <span>Model: @Html.DisplayFor(oglas => oglas.ModelAuta.AutoModel)</span>
        </p>
        <p>
            <span>@Html.DisplayFor(oglas => oglas.OpisOglasa)</span>
        </p>
        <p>
            <span>Cena: @Html.DisplayFor(oglas => oglas.Cena) @Model.Valuta.ImeValute</span>
        </p>
        @if (Request.IsAuthenticated)
        {
            if (User.Identity.GetUserId() == Model.UserAutorOglasa.Id)
            {
                <p>
                    <button class="btn btn-info dugme-edit">Edit</button>
                    <button class="btn btn-danger dugme-delete">Delete</button>
                </p>
            }
            else
            {
                <p>
                    @if (Html.Action("DaLiJeOmiljeniOglas", "Korisnik", new { idOglasa = Model.Id }).ToString() == "True")
                    {
                        <span id="zvezda-dugme" class="glyphicon glyphicon-star"></span>
                    }
                    else
                    {
                        <span id="zvezda-dugme" class="glyphicon glyphicon-star-empty"></span>
                    }
                </p>
            }
        }
    </div>
</div>
<table>
    <tr>
        <td><strong>Godiste: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.Godiste)</td>
    </tr>
    <tr>
        <td><strong>Kilometraza: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.Kilometraza)</td>
    </tr>
    <tr>
        <td><strong>Konjskih snaga: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.KonjskeSnage)</td>
    </tr>
    <tr>
        <td><strong>Stanje auta: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.Stanje.StanjePredmetaOglasa)</td>
    </tr>
    <tr>
        <td><strong>Oglas postavio: </strong></td>
        <td>@Html.DisplayFor(oglas => oglas.UserAutorOglasa.UserName)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(document).ready(function () {

            if ("@(Request.IsAuthenticated)") {

                var zvezdaDugme = $("#zvezda-dugme")
                var mozeDaKlikneZvezdu = true

                if (mozeDaKlikneZvezdu) {
                    zvezdaDugme.on("click", function (e) {
                        mozeDaKlikneZvezdu = false
                        var zvezda = e.target
                        if (zvezda.classList == "glyphicon glyphicon-star") {

                            $.ajax({
                                url: `/api/omiljeni-oglas/${@Model.Id}`,
                                method: "DELETE",
                                success: function () {
                                    zvezda.classList = "glyphicon glyphicon-star-empty"
                                },
                                error: function (err) {
                                    console.log(err)
                                },
                                complete: function () {
                                    mozeDaKlikneZvezdu = true
                                }
                            });
                        }
                        else {

                            $.ajax({
                                url: `/api/omiljeni-oglas/${@Model.Id}`,
                                method: "POST",
                                success: function () {
                                    zvezda.classList = "glyphicon glyphicon-star"
                                },
                                error: function (err) {
                                    console.log(err)
                                },
                                complete: function () {
                                    mozeDaKlikneZvezdu = true
                                }
                            });
                        }
                    })
                }

                if ("@(User.Identity.GetUserId() == Model.UserAutorOglasa.Id)") {

                    $(".dugme-delete").on("click", function () {
                    bootbox.confirm({
                        message: "Izbrisi oglas?",
                        buttons: {
                            cancel: {
                                label: 'Ne',
                            },
                            confirm: {
                                label: 'Da',
                                className: 'btn-danger'
                            }
                        },
                        className: "pulse animated",
                        size: "small",
                        callback: function (result) {
                            if (result) {
                                window.location.href = "/AutoOglasi/Delete/@Model.Id"
                            }
                        }
                    });
                })

                $(".dugme-edit").on("click", function () {
                    bootbox.confirm({
                        message: "Izmeni oglas?",
                        buttons: {
                            cancel: {
                                label: 'Ne',
                            },
                            confirm: {
                                label: 'Da',
                                className: 'btn-danger'
                            }
                        },
                        className: "pulse animated",
                        size: "small",
                        callback: function (result) {
                            if (result) {
                                window.location.href = "/AutoOglasi/Edit/@Model.Id"
                            }
                        }
                    });
                })
                }
            }
        })
    </script>
}