@model IEnumerable<MiniOglasi.Models.AutoOglas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateAutoOglas")
</p>

@foreach (var item in Model)
{

    <div class="oglas-list-item">
        <div class="slika-oglasa" style="background-image: url(@Url.Content(item.Slike.ElementAt(0).PathDoSlike)">
            @*<img src="data:@item.Slike.ElementAt(0).ImageMimeType;base64,@(Convert.ToBase64String(item.Slike.ElementAt(0).ImageData))"
                alt="slika oglasa" width="140" height="140" />*@
        </div>
        <div class="main-info-oglasa">
            <p>
                <strong>@Html.DisplayNameFor(oglas => oglas.NaslovOglasa): </strong>
                <span>@Html.DisplayFor(oglas => item.NaslovOglasa)</span>
            </p>
            <p>
                <strong>@Html.DisplayNameFor(oglas => oglas.Cena): </strong>
                <span>@Html.DisplayFor(oglas => item.Cena)</span>
            </p>
            <p>
                <strong>@Html.DisplayNameFor(oglas => oglas.DatumPostavljanja): </strong>
                <span>@item.DatumPostavljanja.ToShortDateString()</span>
            </p>
            <p>
                <strong>@Html.DisplayNameFor(oglas => oglas.MarkaAuta): </strong>
                <span>@Html.DisplayFor(oglas => item.MarkaAuta.Marka)</span>
            </p>
            <p>
                <strong>@Html.DisplayNameFor(oglas => oglas.ModelAuta): </strong>
                <span>@Html.DisplayFor(oglas => item.ModelAuta.AutoModel)</span>
            </p>
        </div>
    </div>
}