@model MiniOglasi.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrujte se";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.KontaktTelefon, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.KontaktTelefon, new { @class = "form-control", placeholder = "064-123-456(7)" })
            @Html.ValidationMessageFor(model => model.KontaktTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GradId, new { @class = "control-label" })
        <div>
            @Html.DropDownListFor(m => m.GradId, new SelectList(Model.Gradovi, "Id", "ImeGrada"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GradId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" class="dugme dugme-plavo" value="OK !" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}