@model MiniOglasi.Models.NekretninaOglasModels.NekretninaOglas

<tr>
    <td><strong>Tip nekretnine: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.TipNekretnine.Tip)</td>
</tr>
<tr>
    <td><strong>Lokacija: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Grad.ImeGrada)</td>
</tr>
<tr>
    <td><strong>Tip gradnje: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.TipGradnje.Tip)</td>
</tr>
<tr>
    <td><strong>Vrsta usluge: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.RezimOglasaNekretnine.Rezim)</td>
</tr>
<tr>
    <td><strong>Broj soba: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.BrojSoba)</td>
</tr>
<tr>
    <td><strong>Kvadratura: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Kvadratura) m<sup>2</sup></td>
</tr>
<tr>
    <td><strong>Internet: </strong></td>
    <td>@(Model.Internet == true ? "DA" : "NE")</td>
</tr>
<tr>
    <td><strong>Grejanje: </strong></td>
    <td>@(Model.Grejanje == true ? "DA" : "NE")</td>
</tr>
<tr>
    <td><strong>Kablovska: </strong></td>
    <td>@(Model.Kablovska == true ? "DA" : "NE")</td>
</tr>
<tr>
    <td><strong>Terasa: </strong></td>
    <td>@(Model.Terasa == true ? "DA" : "NE")</td>
</tr>