@model MiniOglasi.Models.NekretninaOglasModels.NekretninaOglas

<tr>
    <td><strong>Tip nekretnine: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.TipNekretnine.Tip)</td>
</tr>
<tr>
    <td><strong>Lokacija: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Grad.ImeGrada)</td>
</tr>
<tr>
    <td><strong>Broj soba: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.BrojSoba)</td>
</tr>
<tr>
    <td><strong>Kvadratura: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Kvadratura) m<sup>2</sup></td>
</tr>
<tr>
    <td><strong>Internet: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Internet)</td>
</tr>
<tr>
    <td><strong>Grejanje: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Grejanje)</td>
</tr>
<tr>
    <td><strong>Kablovska: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Kablovska)</td>
</tr>
<tr>
    <td><strong>Terasa: </strong></td>
    <td>@Html.DisplayFor(oglas => oglas.Terasa)</td>
</tr>